body {
    background: url("../images/laurynas-mereckas-1TL8AoEDj_c-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

form {
    padding-left: 30px;
    padding-right: 30px;
}

/*Styling for buttons*/
.btn {
    font-weight: bold;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: orangered;
    font-weight: bolder;
}

#title {
    color: black;
    text-align: center;
    margin-top: 35px;
    font-size: 75px;
    font-family: 'Permanent Marker', cursive;
}

#sub-title {
    color: black;
    text-align: center;
    font-size: 45px;
}


/*Styles for accordion feature on user dashboard*/
.accordion {
    margin: 30px;
}

/*.accordion-button {*/
/*    color: black;*/
/*    background-color: bisque;*/
/*}*/

.userDashboardHeader {
    color: white;
    display: inline;
    text-align: right;
}

.userDashboardButton {
    margin: 15px;
}