body {
    background: url("../images/laurynas-mereckas-1TL8AoEDj_c-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

form {
    padding-left: 30px;
    padding-right: 30px;
}

/*Styling for buttons*/
.btn {
    font-weight: bold;
    margin-bottom: 15px;
    display: inline;
}

.btn:hover {
    background-color: orangered;
    font-weight: bolder;
}

#title {
    color: black;
    text-align: center;
    margin-top: 35px;
    font-size: 75px;
    font-family: 'Permanent Marker', cursive;
}

#sub-title {
    color: black;
    text-align: center;
    font-size: 45px;
}

/*Styles for user dashboard page*/

/*Styles for accordion feature on user dashboard*/
.accordion {
    margin: 30px;
}

.accordion-button {
    /*color: black;*/
    /*background-color: bisque;*/
}

.accordion-button.collapsed::after {
     background-color: inherit;
}

.accordion-button:not(.collapsed) {
    color:inherit;
    background: gray;
    color: #e8e8e8;

}

.accordion-button:not(.collapsed)::after {
    filter:brightness(0%) invert(70%);
}

.accordion-button:focus {
    box-shadow: inherit;
}

.accordion-item:link {
    color: black;
}


.userDashboardHeader {
    color: white;
    display: inline;
    /*text-align: right;*/
    margin: 30px;
    margin-top: 50px;
}

.updateMedLink {
    color: black;
    text-weight: bolder;
    text-decoration: none;
    text-underline: none;
    text-align: end;
}

.updateMedLink:hover {
    color: black;
    outline-width: 1px;
    outline-color: orangered;
    font-weight: bolder;
}


h3 {
    color:black;
}




/*Styling for search page*/

#adminAddMedButton {

    margin-bottom: 20px;


}


/*Styling for 404 page*/

#404-div {
    margin-top: 75px;
}