body {
    background: url("../images/backgroundcropped.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

form {
    padding-left: 30px;
    padding-right: 30px;
}

/*Styling for login page*/
.redirectLink {
    color: black;
    /*font-weight: bold;*/
    text-decoration: none;
    text-underline: none;
    text-align: end;
}

.redirectLink:hover {
    color:  #cc7452;
    font-weight: bolder;
}


/*Styling for cards*/
.card {
    margin-top: 25px;
    margin-right: 15px;
    margin-left: 15px;
    background-image: url("../images/45degreee_fabric.webp") ;

}

/*Styling for buttons*/
.btn {
    font-weight: bold;
    margin-bottom: 15px;
    display: inline;
}

.btn:hover {
    background-color: #cc7452;
    font-weight: bolder;
}

#title {
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size: 120px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

#sub-title {
    color: black;
    text-align: center;
    font-size: 45px;
}

/*Styles for user dashboard page*/

/*Styles for accordion feature on user dashboard*/
.accordion {
    margin: 30px;
}

.accordion-button:not(.collapsed) {
    color:inherit;
    background: gray;
    color: #e8e8e8;
}

.accordion-button:not(.collapsed)::after {
    filter:brightness(0%);
    color: inherit;
}

.accordion-button::after {
    color:white;
}

.accordion-button:focus {
    box-shadow: inherit;
    background: gray;
}

.accordion-button {
    background: gray;
    color:white;
}

.userDashboardHeader {
    display: inline;
    text-align: center;
}

.updateMedLink {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    text-underline: none;
    text-align: end;
}

.updateMedLink:hover {
    color:  #cc7452;
    font-weight: bolder;
}


h3 {
    color:black;
}


/*Styling for search page*/

#adminAddMedButton {

    margin-bottom: 20px;


}


/*Styling for 404 page*/

#404-div {
    margin-top: 75px;
}